/* menu */
@media (min-width: 992px) {
  .navbar-default ul.menu li {
    position: relative;

    &.expanded ul.menu {
      min-width: 200px;
      width: auto;
      right: auto;
      left: 0;
      text-align: left;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      padding-top: 0;
      overflow: hidden;
      top: 29px;
      padding-top: 26px;

      li {
        display: block;
        border-bottom: 1px solid #3895cf;

        &:last-child {
          border-bottom: 0 none;
        }

        a {
          display: block;
          background-color: $blue;
        }
      }
    }
  }
}

.sidebar .view {
  ul {
    margin: {
      left: -15px;
      right: -15px;
    }

    li.views-row {
      padding: {
        left: 15px;
        right: 15px;
        bottom: 15px;
      }
      margin-bottom: 15px;
    }
  }
}

.two-column,
.three-column {
  .views-row .col-inner {
    .views-field-type-image,
    .views-field-field-video-link {
      img {
        width: 100%;
      }
    }
  }
}

.forum-blog-view .views-row .views-field-title a {
  strong {
    font-weight: normal;
  }
}

.navbar-default ul.menu li.expanded.active-trail ul.menu {
  display: none;
  opacity: 0;
}

.forum-list-icon-wrapper span {
  display: none;
}

.media-wrapper .ui-dialog-titlebar-close {
  background: lightblue;
  line-height: 0.2em;
  border: 1px solid;
}

.media-wrapper .ui-dialog-titlebar-close:before {
  content: "X";
}

.front {
  .section.sponsors {
    padding-top: 60px;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(184, 208, 239, 1) 100%
    );

    h2,
    h3 {
      font-family: "Bebas Neue";
      letter-spacing: 3px;
      font-size: 2rem;

      &.title {
        font-size: 2.4rem;
      }
    }

    .container {
      max-width: 900px;
    }
  }
}

.view-sponsors {
  --gold-max-width: 160px;
  --platinum-max-width: 240px;

  @media (min-width: 576px) {
    --gold-max-width: 200px;
    --platinum-max-width: 280px;
  }

  // Medium devices (tablets, 768px and up)
  //@media (min-width: 768px) { ... }

  a.sponsor-link {
    margin: 2px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $white;
    border-radius: 8px;

    img {
      display: block;
      //max-width: fit-content;
      padding: 10px;
    }
  }

  &.view-display-id-block {
    a.sponsor-link {
      height: calc((var(--gold-max-width) / 2) - 6px);

      img {
        max-width: calc(var(--gold-max-width) - 30px) !important;
        max-height: calc((var(--gold-max-width) / 2) - 20px) !important;
      }
    }
  }

  &.view-display-id-block_1 {
    a.sponsor-link {
      height: calc((var(--platinum-max-width) / 2) - 6px);

      img {
        max-width: calc(var(--platinum-max-width) - 30px) !important;
        max-height: calc((var(--platinum-max-width) / 2) - 20px);
      }
    }
  }
}

// Gold Sponsor Homepage block.

// Platinum Sponsor Homepage block.
