@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,500italic,600italic,700italic,400,500,600,700);

// =============================================================================
// TYPOGRAPHY
// =============================================================================
$font-body: "Open Sans";
$font-primary: "Open Sans";
$font-secondary: "Open Sans";
$font-armata: "Open Sans";
$font-antic: "Open Sans";
$font-georgia: "Georgia";
// =============================================================================
// FONT SIZE
// =============================================================================
$body-fs: 15px;
$fs-10: 0.667em;
$fs-12: 0.8em;
$fs-13: 0.867em;
$fs-14: 0.933em;
$fs-15: 1em;
$fs-16: 1.067em;
$fs-17: 1.133em;
$fs-18: 1.2em;
$fs-25: 1.667em;

// =============================================================================
// COLOR
// =============================================================================
$light-dark: #f0f0f0;
$black: #000;
$lighter-black: #181818;
$dark: #333;
$lighter-dark: #4e4e4e;
$white: #fff;
$grey: #eaeaea;
$dark-grey: #7d7d7d;
$dark-grey-1: #555555;
$dark-grey-2: #888888;
$light-grey: #bababa;
$lighter-grey: #c3c3c3;
$lightest-grey: #ddd;
$blue: #348bc2;
$border-color: #ccc;

$red: #7e0404;
$light-dark: #3d3d3d;
$orange: #e5b306;
$green: #09a78f;
